- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install base packages
  apt:
    name: "{{ base_packages }}"
    state: present

- name: Enable fail2ban
  service:
    name: fail2ban
    state: started
    enabled: true
